################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NodejsTypescriptMongo/bin
/NodejsTypescriptMongo/node_modules
/NodejsTypescriptMongo/obj/Debug
